:root {
	--default-green: #fe9331
	--light-green: #fe9331;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
}

/* Utility Classes */
.btn-primarys {
	background: white;
	color: #fe9331;
	text-transform: uppercase;
	padding: 15px 60px;
	border: none;
	border-radius: 30px;
	letter-spacing: 1px;
	font-weight: bold;
	transition: all 300ms ease;
	border: 2px solid #fe9331;
	
}
.btn-primary {
	background: #fe9331;
	color: white;
	text-transform: uppercase;
	padding: 15px 60px;
	border: none;
	border-radius: 30px;
	letter-spacing: 1px;
	font-weight: bold;
	transition: all 300ms ease;

}

.btn-primarys:hover {
	background color: white;
	cursor: pointer;
}
button:hover {
	background-color: #fe9331;
	color:white;
}
.btn-primary:hover {
	background color: #fe9331;
	cursor: pointer;
	
	
}
button:hover {
	background-color: white;
	color:#fe9331;
}

.logo {
	height: 130px;
	width: auto;
}
.app {
	height: 50px;
	width: auto;
}

/* Navbar */
a{
	text-decoration: none;
}
a:visited {
    color: white;
}
#navbar {
	display: flex;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	justify-content: center;
	position: fixed;
	top: 0;
	width: 100%;
    margin: 0;
	
}


#navbar .navbar-container {
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 0;

}

#navbar .navbar-container ul {
	display: flex;
	list-style: none;
	font-weight: bold;
	
}

#navbar .navbar-container ul li {
	padding: 0 30px;
	transition: all 300ms ease;
}

#navbar .navbar-container ul li:hover {
	color: #fe9331;
	cursor: pointer;
}

#navbar .navbar-container ul li:nth-child(3) {
	border-right: 1px solid white;
}
.unlogged-input-container.single-input-cta .unlogged-input {
    border: none;
    border-radius: 400px;
    display: inline-block;
    height: 54px;
    padding: 10px 54px 10px 20px;
}
.unlogged-input {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #d1d1d6;
    border-radius: 15px;
    -webkit-box-shadow: 0 20px 20px 0 rgb(0 0 0 / 0%);
    box-shadow: 0 20px 20px 0 rgb(0 0 0 / 0%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 17px;
    line-height: 2;
    padding: 26px 20px 10px;
    width: 80%;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-property: -webkit-box-shadow;
    transition-property: -webkit-box-shadow;
    transition-property: box-shadow;
    transition-property: box-shadow,-webkit-box-shadow;
}

input[type="email" i] {
    padding: 3px 8px;
}
input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

/* Showcase */
h1{
    color: #fe9331;
}
#showcase {
	height: 120vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background: url("./ASSENTS/james-owen-d1fgJpZiKBQ-unsplash.jpg") center center/cover;
	background-color: rgba(0, 0, 0, 0.4);
	background-blend-mode: color;
}

#showcase .showcase-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#showcase .showcase-container h2 {
	font-size: 5rem;
}

#showcase .showcase-container p {
	margin: 5px 0;
	font-size: 1.1rem;
}
p1 {
	margin: 5px 0;
	font-size: 0.9rem;
}
/* about */
#about{
	background-color: #701e49;
	height: 190vh;
	background-blend-mode: color;
	display: block;
}
#about .about-container{
	margin: 0 auto 90px;
    padding: 0 220px;
    text-align: center;
    width: 100%;
	font-size: 80px;
    letter-spacing: -1px;
    line-height: 80px;
    margin-bottom: 60px;


	
}
#about .about-container h1{ 
	font-size: 4rem;
	color: black;
}
#about .about-container h2{ 
	font-size: 4rem;
	color: black;
}
.feature-info-text{
	margin: 0;
    width: 100%;
	box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}
.heading-3{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
}
.paragraph{
	margin-bottom: 15px;
	line-height: 22px;

}
.individual {
    margin: -40px 0 0;
    padding: 0;
}
.section {
    display: block;
}
.celular{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 10px;
	width: auto;
	background-color: #701e49;
}


/* footer */
#footer {
	background: black;
	color: white;
	padding: 100px 90px;
	height: 110vh;
	
	
}

#footer .footer-content {
	display: flex;
	width: 60%;
	margin: auto;
	justify-content: space-between;
}

#footer .footer-content .footer-menu {
	margin: 0 40px;
	list-style: none;
}

#footer .footer-content .footer-menu .footer-menu-item {
	margin: 25px 0;
	transition: all 300ms ease;
}

#footer .footer-content .footer-menu .footer-menu-item:hover {
	color: #fe9331;
	cursor: pointer;
}

#footer .footer-content .footer-menu p {
	font-weight: bold;
	text-transform: uppercase;
	color: #919496;
	font-size: 0.8rem;
}

/* Footer Socials */
.socials {
	display: flex;
}

.socials i {
	margin: 0 20px;
	font-size: 1.7rem;
	transition: all 300ms ease;
}

.socials i:hover {
	color: #fe9331;
	cursor: pointer;
}
a.link:visited {
	color: white;
}
/* Footer Info */
.footer-info {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	margin: auto;
	font-weight: bold;
	color: #919496;
	font-size: 0.75rem;
	padding-top: 80px;
}

.footer-info .footer-info-items {
	display: flex ;
	list-style: none;
    height: 150px;
    width: auto;
}

.footer-info .footer-info-items .footer-info-item {
	margin: 0 10px;
	transition: all 300ms ease;
}

.footer-info .footer-info-items .footer-info-item:hover {
	color: #fe9331;
	cursor: pointer;
}

.footer-info .rights .country p {
	transition: all 300ms ease;
}

.footer-info .rights .country p:hover {
	color: #fe9331;
	cursor: pointer;
}
.footer-info .rights1{
	color: white;
	padding: 2px;
}
